:root {
    --body-background-color: hsl(0, 0%, 15%);
    --body-background-color-low-opacity: hsla(0, 0%, 15%, .9);
    --font-color-main: #eee;
    --main-section-width: 70%;
    --main-section-max-width: 650px;
    /* find a font */
    --font-family-major-mono: monospace; 
    --rps-container-bgcolor: hsl(0, 0%, 22%);
    --rps-bar-bgcolor: hsl(39, 100%, 40%);
    --rps-bar-bgcolor-hover: hsl(39, 100%, 47%);
    --main-font-size: 1rem;
    --lighter-text-color: hsl(0, 0%, 60%);
}

.lightmode {
    --body-background-color: hsl(0, 0%, 93%);
    --body-background-color-low-opacity: hsla(0, 0%, 93%, .9);
    --font-color-main: black;
    --rps-container-bgcolor: hsl(0, 0%, 84%);
    --rps-bar-bgcolor: hsl(39, 100%, 48%);
    --rps-bar-bgcolor-hover: hsl(39, 100%, 45%);
    --lighter-text-color: hsl(0, 0%, 47%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-background-color);
    color: var(--font-color-main);
    font-size: var(--main-font-size);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-major-mono);
    position: relative;
}

main {
    width: var(--main-section-width);
    max-width: var(--main-section-max-width);
    position: relative;
}

/* ========== HEADER ========== */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--main-section-width);
    max-width: var(--main-section-max-width);
}

header img {
    width: 8rem;
    margin: 1.6rem;
}

.hr-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}
hr.header-separator {
    width: 88%;
    border: 0;
    border-bottom: 1px solid;
}

/* -------- BELOW HEADER SECTION ------------ */

section.below-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.round-container {
    background-color: var(--rps-container-bgcolor);
    padding: 6px 14px;
    border-radius: 8px;
    width: 9.7rem;
}

.accessors {
    display: flex;
    gap: .6em;
    transition: all .3s linear;
}

.accessors svg {
    cursor: pointer;
}
.accessors svg:hover {
    opacity: .8;
}

/* =========== WIN STATUS SECTION =========== */

section.win-status-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 2.4rem 0;
}

output.win-status {
    height: 3rem;
    width: 12rem;
    background-color: var(--rps-bar-bgcolor);
    color: black;
    font-size: 1.7rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========= INPUT DISPLAY ========== */

.side-container {
    display: flex;
    justify-content: space-between;
    gap: .8rem;
}

.computer-side, .user-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.player-logo img {
    width: 44px;
    border-radius: 50%;
}

.pawn-score-wrapper {
    display: flex;
    gap: 8px;
}

.rps-container {
    background-color: var(--rps-container-bgcolor);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 5px;
}

.rps-bar {
    background-color: var(--rps-bar-bgcolor);
    width: 45px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.rps-bar img {
    height: 33px;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    background-color:  var(--rps-container-bgcolor);
    min-width: 8.4rem;
    border-radius: 8px;
}

#computer-score, #user-score {
    font-size: 4rem;
}

.hand-container {
    height: 4.2rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5em;
}

#computer-input img, #user-input img {
    width: 100px;
}

.bonus {
    font-size: 2rem;
    font-weight: 900;
    color: red;
    position: absolute;
    bottom: -8rem;
    opacity: 0;
}

/* ========= WEAPONS ========== */

section.weapon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.16rem 0;
    gap: .6rem;
}

.weapons {
    display: flex;
    gap: 1rem;
}

button {
    cursor: pointer;
    padding: 8px 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    background-color: var(--rps-bar-bgcolor);
    color: var(--font-color-main);
    font-weight: 700;
    border: 1px solid var(--font-color-main);
    box-shadow: 1px 1px 3px hsla(0, 0%, 0%, .3);
    transition: scale .3s ease-out,
                background-color .3s ease-out;
}

button:hover {
    scale: 1.05;
    background-color: var(--rps-bar-bgcolor-hover);
}

/* ========= PLAY AGAIN SECTION ========== */
/* ========= AND WELCOME SECTION =========*/

section.play-again, section.welcome {
    flex-direction: column;
    position: absolute;
    top: 0;
    /* justify-content: center; */
    align-items: center;
    padding-top: 6.4rem;
    width: 100%;
    height: 100%;
}

.welcome {
    display: flex;
    background-color: var(--body-background-color);
    gap: 4rem;
    text-align: center;
    
    z-index: 100;
}

.welcome h1 {
    font-size: 3rem;
}

input#usr-name {
    padding: 6px 12px;
    background-color: var(--rps-container-bgcolor);
    border: none;
    border-left: 6px solid var(--rps-bar-bgcolor);
    color: var(--font-color-main);
    font-family: var(--font-family-major-mono);
}
input#usr-name:focus {
    outline: none;
    border-width: 8px;
    border-color: var(--rps-bar-bgcolor-hover);
}

.lighter-text {
    color: var(--lighter-text-color);
}

.round-inp-container {
    display: flex;
    gap: 1.8rem;
    margin-top: -3.2rem;
    font-size: larger;
}

#play-btn {
    width: 10rem;
}

/* ---------- play again section ------------ */

section.play-again {
    display: none;
    gap: 3rem;
    background-color: var(--body-background-color-low-opacity);
}

/* section.welcome {
    display: block;
} */

.play-again h1 {
    font-size: 2.2rem;
    text-align: center;
}

.final-score-output {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer p {
    opacity: .8;
    font-size: .8rem;
    text-align: center;
}


@media screen and (max-width: 600px) {
    :root {
        --main-section-width: 100%;
    }

    main {
        padding: min(2%, 1rem);
    }

    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 430px) {
    #computer-score, #user-score {
        font-size: 3.6rem;
    }
    .score-container {
        min-width: 6rem;
        padding: 1.2rem;
    }
    .weapon-container h1:not(aside h1) {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 376px) {
    main {
        padding: 5px;
    }
    .pawn-score-wrapper {
        flex-direction: column;
    }
    .rps-container {
        flex-direction: row;
    }
    .computer-side .pawn-score-wrapper {
        display: grid;
    }
    .computer-side .score-container {
        grid-row: 1;
    }
}