:root {
    --rps-container-bgcolor: hsl(0, 0%, 22%);
    --aside-width: 35vw;
    --body-background-color: hsl(0, 0%, 15%);
    --body-background-color-low-opacity: hsla(0, 0%, 15%, .9);
    --font-color-main: hsl(0, 0%, 93%);
    --font-color-main-low-opacity: hsla(0, 0%, 93%, .4);
    --rps-bar-bgcolor: hsl(39, 100%, 40%);
}

/* body is position relative from home.css */
section.side-bar-container {
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: var(--body-background-color-low-opacity);
}

aside {
    position: fixed;
    top: 0;
    /* choose the maximum of min-width and percentage to make sure it will be completely covered. */
    right: calc(-1 * max(350px, var(--aside-width)));
    width: var(--aside-width);
    min-width: 350px;
    height: 100vh;
    background-color: var(--body-background-color);
    border-left: 1px solid var(--font-color-main-low-opacity);
    padding: 2vw;
}

.above {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 0;
}

.above .cls {
    cursor: pointer;
}

.above .cls:hover {
    opacity: .8;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ====== history ======= */

.vs {
    text-align: center;
}

.history p {
    font-size: .8rem;
    text-align: center;
}

.history ul {
    list-style-type: none;
    overflow-y: scroll;
    height: 60vh;
    text-align: center;
}

.history ul::after {
    content: '';
    position: absolute;
    bottom: 25.4vh;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(transparent, var(--body-background-color) 50%);
}

.history li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: .8rem 0;
    margin: 2px 0;
}

.history li:nth-child(even) {
    background-color: var(--rps-container-bgcolor);
}
.history li:last-child {
    margin-bottom: 30px;
}

.score-display-li {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.status-li {
    width: 3.2rem;
    text-align: center;
    background-color: var(--rps-bar-bgcolor);
    padding: .2rem .4rem;
    color: black;
}